In [59]:
import tensorflow as tf
import numpy as np
from tensorflow import keras
import pandas as pd

In [60]:
df = pd.read_csv('data.csv')
output = pd.read_csv('output.csv')
X = output.drop(columns=['price'])
Y = output[['price']]
ydf = df[['price']]
df.tail()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4595,2014-07-09 00:00:00,308166.666667,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,534333.333333,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,416904.166667,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,203400.000000,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,220600.000000,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [61]:

from sklearn.model_selection import train_test_split
xval, xtest, yval, ytest = train_test_split(X, Y, test_size = 0.5)

In [62]:
cols = [0,1,7,8,12,13,16,17]
df.drop(df.columns[cols],axis=1,inplace=True)

In [66]:
cols = [0,6,7,11,12,15,16]
xval.drop(xval.columns[cols],axis=1,inplace=True)
xtest.drop(xtest.columns[cols],axis=1,inplace=True)

In [69]:
def house_model(y_new):
    
    model = tf.keras.Sequential([keras.layers.Dense(units= 10,activation= 'relu', input_shape = (10,)),
    keras.layers.Dense(units= 10, activation= 'relu'),
    keras.layers.Dense(units=1)])
    model.compile(optimizer='adam', loss='mean_squared_error',metrics=['acc'])
    model.fit(df, ydf, epochs=20,validation_data=(xval,yval) )
    return model.predict(y_new)[0]

In [68]:

df.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,street,city
0,3.0,1.50,1340,7912,1.5,3,1340,0,18810 Densmore Ave N,Shoreline
1,5.0,2.50,3650,9050,2.0,5,3370,280,709 W Blaine St,Seattle
2,3.0,2.00,1930,11947,1.0,4,1930,0,26206-26214 143rd Ave SE,Kent
3,3.0,2.25,2000,8030,1.0,4,1000,1000,857 170th Pl NE,Bellevue
4,4.0,2.50,1940,10500,1.0,4,1140,800,9105 170th Ave NE,Redmond

In [67]:
xval.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,sqft_above,sqft_basement,street,city
860,2.0,1.0,1490,3825,1.0,3,860,630,7008 19th Ave NW,Seattle
3836,5.0,1.0,1590,6700,1.5,3,1090,500,10626 12th Ave SW,Seattle
1891,3.0,2.5,1520,2208,2.0,3,1040,480,2537 13th Ave W,Seattle
4572,6.0,4.5,3830,4800,3.0,3,3050,780,2425 3rd Ave W,Seattle
4453,3.0,1.0,1300,6710,1.0,4,1300,0,2760 72nd Ave SE,Mercer Island

In [77]:
prediction = house_model(xtest.iloc[0].values)
print(prediction)

TypeError: house_model() takes 0 positional arguments but 1 was given

In [76]:
xtest.iloc[0].values

3.0